{% include "header-min.html" %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/camera-stylesheet.css') }}">



<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Welcome</a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Stats</a></li>

                <li><a href="/#">Dashboard</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- About Section -->
<div id="about">

    <div class="container">

        <script type=text/javascript>

    $SCRIPT_ROOT = {{request.script_root | tojson | safe}};

    </script>


    <h3>Demo</h3>

    <div class="container">

  <div class="app">

    <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
    <video id="camera-stream"></video>
    <img id="snap">

    <p id="error-message"></p>

    <div class="controls">
      <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="material-icons">Restart</i></a>
      <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">Take selfie</i></a>
      <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">Download selfie</i></a>
    </div>

    <!-- Hidden canvas element. Used for taking snapshot of video. -->
    <canvas></canvas>

  </div>

</div>


    </div>
</div>


<!-- Contact Section -->
<div id="contact" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2></h2>
            <hr>
        </div>
        <div class="col-md-8 col-md-offset-2">

        </div>
    </div>
</div>

<!--{% include "footer.html" %}-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="{{ url_for('static', filename='javascripts/webCameraAccess.js') }}"></script>


</body>
